nsx_vtep/actions/nsxraml/schemas/vdnHardwareBindingCreate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hardwareGatewayBinding">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="hardwareGatewayId"/>
        <xs:element type="xs:string" name="vlan"/>
        <xs:element type="xs:string" name="switchName"/>
        <xs:element type="xs:string" name="portName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>